@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  padding: 0px;
  margin: 0px;
  color: #333;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
  font-weight: bold;
  color: #333;
  border: 0px solid gray;
  padding: 10px;
}

.nav-items ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 15px;
}

.nav-items ul li {
  margin-right: 30px;
  font-size: large;
}

.logo {
  width: 60px;
  height: 60px;
}

.card {
  width: 250px;
  height: 380px;
  margin: 4rem;
  background: #fff;
  color: #333;
  text-decoration: none;
  border: 1px solid #7a7a7b;
  display: flex;
  flex-direction: column;
}

.card .res-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.card img {
  width: 100%;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: 2rem;
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 4rem;
  background: #333;
}

.search-container input {
  width: 40rem;
  padding: 1rem 0.5rem;
  margin: 1rem 0.5rem;
  border: 1px solid #333;
  border-radius: 2%;
}

.search-container button {
  width: auto;
  height: 3rem;
  margin-top: 1rem;
  padding: 1rem;
}
*/
.shimmer-card {
  width: 200px;
  height: 200px;
  margin: 20px;
  background-color: lightgray;
}

.restaurant-menu {
  min-height: 80vh;
  width: auto;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.restaurent-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: rgb(17 24 39);
  color: #fff;
  padding: 0.7rem 4rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.restaurent-info img {
  width: 20rem;
  height: auto;
  margin-left: 2rem;
}

.restaurent-info .offer-card {
  border: 3px dashed orange;
  padding: 2rem 1rem;
  margin-left: 1rem;
}

.user-card {
  padding: 1rem;
  border: 1px solid #333;
}

.restaurant-menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  margin-left: 10rem;
}

.menu-items-container {
  margin-top: 30px;
  width: 850px;
  margin-left: 1rem;
}

.menu-title-wrap .menu-title {
  color: var(--light-text-color);
}

.menu-count {
  margin-top: 10px;
  line-height: 1.3;
  color: rgba(40, 44, 63, 0.45);
  font-size: 1rem;
}

.menu-items-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: rgba(40, 44, 63, 0.45) 0.5px solid;
}

.menu-item-details {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  overflow: hidden;
  height: auto;
}

.item-title {
  width: auto;
  color: var(--light-text-color);
}

.item-desc {
  margin-top: 14px;
  line-height: 1.3;
  color: rgba(40, 44, 63, 0.45);
  width: inherit;
  letter-spacing: -0.3px;
  font-size: 1rem;
}

.item-cost {
  margin-top: 4px;
  font-size: 1rem;
  font-weight: 400;
  color: #3e4152;
  width: inherit;
}

.menu-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 300px;
  overflow: hidden;
  height: auto;
}

.menu-item-img {
  height: 100px;
  width: 100px;
  border-radius: 5px;
}

.add-btn {
  background-color: var(--orange);
  color: var(--text-color);
  padding: 8px 25px;
  cursor: pointer;
  outline: none;
  border-color: var(--dark-orange);
  margin-top: 10px;
  border-radius: 5px;
}
